.portfolio-container {
    display: flex;
    justify-items: center;
    justify-content: space-evenly;
    align-items: center;
    grid-gap: 40px;
    align-content: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1200px;
    min-width: 300px;
    // height: 700px;
    overflow-x: auto;
    
    
    &::-webkit-scrollbar {
        display: none;
    }
}